* {
    /*margen */
    margin: 0;
    /*padding da bordes interiores*/
    padding: 0;
    /* un navegador que no coja los estitos que le estamos dando, estilos para opera*/
    -webkit-box-sizing: border-box;
    /*navegador para mozzila*/
    -moz-box-sizing: border-box;
    /*para todos los navegadores */
    box-sizing: border-box;
    

}
body {
    /*TIPO DE LETRAS CON EL QUE DESCARGAMOS dota la aplicacion*/
    font-family: "open sans", Ariel, sans-serif;
    font-size: 20px;

}

.contenedor {

    border: 1px solid rgb(0, 2, 5);
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/*--- estilos header---*/
header {
    border: 1px solid rgb(20, 2, 6);
    width: 100%;
    background: url(../imagenes/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}


header .menu {
    width: 100%;
    text-align: right;


}

header .menu a {
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;

}



header .contenedor {
    position: relative;
    height: 450px;
}


header .texto {
    width: 50%;
    color: #fff;
   
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border: rgb(255, 255, 255) 2px solid;
   




}
header .menu a:hover {
    color: rgb(16, 226, 159);
    text-decoration: underline;

}

header .texto h2 {
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}

/*----------------*/
.main {
    background: url(../imagenes/trabajos/textura.jpeg);
    background-repeat: repeat;
}

.main .acerca-de .foto {
    clip-path: circle(50%);
    width: 100px;
    height: 100px;  
    margin: 0 auto;
    top: 75px;
    margin-bottom: 25px;
}

 
  .main .texto h3{
    text-align: center;
    color: rgb(193, 129, 45);
    margin-bottom: 25px;
  }
  .main .texto .bold{
   color: rgb(10, 65, 175);
  }
  .main .texto p{
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20%;
  }
  /*galeria*/
  .main .trabajos {
    overflow: auto;
    

}
.main .trabajos h3{
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main .trabajos .trabajo {
    width: 25%;
    float: left;

}

.main .trabajos .trabajo img {
    width: 100%;
    vertical-align: top;
    opacity: .6;
}
.main .trabajos .trabajo img:hover {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

}
.main .trabajos .descripcion p{
    text-align: center;
    font-weight: 300;
}
.main .trabajos .descripcion .nombre{
    color: blue;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10%;
}

/*  -------------------------*/

.contacto .titulo {
    text-align: center;
    margin-bottom: 30px;
    margin-bottom: 15%;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario input,
  .formulario textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
  }
  
  .formulario input[type="submit"] {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: none;
  }